header a.logo {
  background: url(../images/IMM_Logo.svg) no-repeat 0 0;
}

section.quote-form {
  padding: 50px 0;
  margin-top: 15px;
  display: block;
  color: #fff;
  background-color: #06659c;
}

.container .tint {
  background-color: rgba(31, 31, 31, 0.1);
  margin: -50px 0;
  padding: 50px 50px;
}

iframe {
  background-color: #fff;
  padding: 30px 30px 0 30px;
}
