/* CSS Document for Screens */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic);

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding: 0px;
}

#page {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

header a.logo {
  z-index: 1;
  position: absolute;
  display: block;
  width: 160px;
  height: 66px;
  background-size: contain;
  top: 15px;
  left: 60px;
}

#subpage {
  margin-top: 7em;
}

#subpage header {
  margin-top: 15px;
  padding: 50px 0 20px 0;
}

/* Text */
h1 {
  margin: 0 0 1em 0;
  font-size: 2.8em;
  font-weight: 700;
}

h2::before {
  content: "";
  display: block;
  width: 100px;
  position: absolute;
  top: -12px;
  height: 8px;
  border-radius: 0;
  background-image: none;
  background: rgba(31, 31, 31, 0.3);
}

h2 {
  margin: 0 0 .5em 0;
  padding-top: 10px;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.1em;
  height: 100%;
  text-transform: uppercase;
}

h3 {
  margin: 0 0 .5em 0;
  font-size: 1.3em;
  font-weight: 700;
}

h4 {
  margin: 0 0 1.5em 0;
  font-size: 1em;
  font-weight: 700;
}

p {
  margin: 0 0 1em 0;
}

ul {
  display: block;
}

/* Links */
a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #06659c;
  text-decoration: none;
}

a.btn {
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 15px;
  transition: background-color .5s;
}

a.btn:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Extras */
.intro {
  height: 60vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(31, 31, 31, .9), rgba(31, 31, 31, 0.8) 50%, rgba(31, 31, 31, 0.7) 60%, rgba(31, 31, 31, 0.5));
  margin-bottom: 60px;
  /* , url(../images/machine_bkg.png) */
}

.intro video {
  position: relative;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 60vh;
}

.container {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px;
}

.container .tint {
  background-color: rgba(31, 31, 31, 0.1);
  margin: -50px 0;
  padding: 50px 0;
}

section.mission {
  padding: 50px 0;
  margin-top: 15px;
  display: block;
  color: #fff;
}

ul.breadcrumb {
  padding: 10px 15px 0 15px;
  list-style: none;
}

.breadcrumb {
  background: none;
  font-size: 1.5em;
  font-weight: 900;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  padding: 10px;
  color: #fff;
  content: "/\00a0";
  position: relative;
}

ul.breadcrumb li a {
  color: #fff;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #fff;
  text-decoration: none;
}

/* Footer */
footer {
  overflow: hidden;
  padding: 40px 0;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

footer h3 {
  font-size: 1.8rem;
}

footer a {
  color: #06659c !important;
}

footer a:hover {
  color: #06659c !important;
  text-decoration: none;
}

.socials {
  position: relative;
  list-style: none;
  padding: 0;
  text-align: center;
}

.socials li a .icon-wrapper .footer-icon {
  color: #fff;
  line-height: 40px;
  width: 40px;
  text-align: center;
  font-size: 1.5rem;
}

.socials li a .icon-wrapper {
    width: 40px;
    height: 40px;
    background-color: #06659c;
    display: inline-block;
    border-radius: 50%;
    line-height: 40px;
    margin-right: 12px;
}

.socials li {
  display: inline-block;
  font-size: 1.5rem;
}

.mcalear {
  text-align: center;
  padding: 40px 0;
  background-color: #e8e8e8;
}

.mcalear span {
  font-weight: 900;
}
